*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(15, 15, 15);
    color: white;
}
nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: fixed;
   padding: 20px;
   background-color: rgb(15, 15, 15);
   top: 0%;
   width: 100%;
   
}
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    margin-inline: 22px;
}
ul li a:hover{
    color: rgb(33, 151, 242);
    border: 2px solid rgb(33, 151, 242);
}
#bar{
    display: none;
}
.logo{
    font-size: 22px;

}
.logo span{
    color: rgb(242, 100, 53);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 135px;
}
.main a{
    text-decoration: none;
    color: #fff;
    
}
.main img{
    border: 1px solid rgb(0, 204, 255);
}
.mainText h1{
    font-size: 70px;

}
.mainText h1 span{
    color: rgb(54, 154, 243);
}
.mainText h3{
    font-size: 30px;
}
.mainText span{
    color: rgb(0, 229, 255);
}
.mainText p{
    font-size: 30px;
}
.mainText button{
    width: 140px;
    height: 40px;
    background-color: rgb(35, 154, 252);
    font-size: 20px;
    border: none;
    margin-top: 24px;
    color: white;
}
button:hover{
    border: 2px solid rgb(23, 120, 231);
    background-color: transparent;
    cursor: pointer;
}
.mainText button a{
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
}
.head{
    text-align: center;
    padding: 80px;

}
.head span{
    color:  rgb(0, 154, 252);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(41, 39, 39);
    padding: 52px;
}
.about img{
    width: 250px;
    border-radius: 50%;
    border: 4px solid rgb(0, 158, 240);
    margin-inline: 65px;
}
.aboutText p{
    margin-top: 22px;
    color: rgb(0, 204, 255);
}
.aboutText h2 span{
    color: rgb(0, 142, 207);
}
.aboutText p span{
    color:#fff
}
.more-details{
    padding-top: 20px;
}
.aboutText h2{
    font-size: 30px;
}

.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.card{
    width: 250px;
    padding: 22px;
    background-color: rgb(30, 30, 30);
    margin-inline: 20px;
    border-radius: 5px;
    margin-top: 22px;
}
.card h3{
    color: rgb(0, 154, 249);

}

.card p{
    margin-top: 12px;
}
.card i{
    font-size: 26px;
}
.work{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.work-card{
    width: 300px;
    height: 310px;
    background-color: rgb(40, 40, 40);
    border-radius: 5px;
    margin-inline: 20px;
    padding: 11px;
    margin-top: 22px;
}
.work-card img{
    width: 100%;
    height: 200px;

}
.work-card p{
    margin-top: 11px;
}
.work-card a{
    text-decoration: none;
    position: absolute;
    margin-top: 20px;
    padding: 6px 12px;
    background-color: rgb(5, 155, 181);
    color: white;
    border-radius: 10px;
    margin-left: 80px;
}
.contact-me{
    width: 300px;
    padding: 20px;
    background-color: #252525;
    margin: auto;
    border: 1px solid rgb(0, 187, 255);
}
.contact input{
    width: 90%;
    padding: 5px;
    font-size: 17px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    margin-top: 3px;
}
.contact p{
    margin-top: 20px;
}
.contact button{
    width: 90px;
    height: 28px;
    background-color: rgb(0, 158, 240);
    color: white;
    font-size: 18px;
    border: none;
    margin-top: 20px;
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 55px;
    margin-top: 66px;
    background-color: rgb(18, 18, 18);
}
.text{
    margin-top: 20px;
}
.text h3{
    cursor: default;
    color: rgb(12, 202, 255);
}
.text p{
    margin-top: 12px;
    cursor: default;
}
.text a{
    margin-top: 12px;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    display: inline-block;    
}

@media screen and (max-width:1000px){
    .main{
        display: block;
        text-align: center;
        margin-top: 155px;
    }
}

@media screen and (max-width:800px){
    ul{
        display: none;

    }
    .showData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 22px;
        background-color: rgb(23, 23, 23);
        gap:20px;
        border-radius: 5px;
        position: fixed;
        top: 75px;
        right: 3%;
    }
    #bar{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
}
@media screen and (max-width:550px){
    .main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }
   .mainText h1{
    font-size: 35px;
   }
   .mainText h3{
    font-size: 22px;
   }
   .mainText p{
    font-size: 20px;
   }
   .main img{
    width: 80%;
   }
  .contact{
    width: 75%;
  }
}